<a href="https://colab.research.google.com/github/meenupannnu/Python_Training/blob/main/Assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
L=[11,12,13,14]
L.append(50)
L.append(60)
L.insert(1,44)
L.remove(12)
L.pop(0) # remove first element
print(L)

[44, 13, 14, 50, 60]

In [13]:
A=[1,10, 13, 12, 4, 56, 66, 45, 56, 99]
A.sort # ascending
print(A)

[1, 10, 13, 12, 4, 56, 66, 45, 56, 99]

In [14]:
A.sort(reverse=True)
print(A)

[99, 66, 56, 56, 45, 13, 12, 10, 4, 1]

In [17]:
if 13 in A:
  print("13 is present in the list")
else:
    print("13 is not present")

13 is present in the list

In [18]:
print(len(A))

10

In [22]:
print(sum(A)) #sum of all th numbers in A and L
print(sum(L))

362
181

In [23]:
A_sum_e =sum (num for num in A if num % 2 == 0)# define a number for number present in A if it is divisible by 2
print(A_sum_e)

204

In [25]:
A_sum_o =  sum(num for num in A if (num+1) % 2 == 0)
print(A_sum_o)

158

In [ ]:
# SUm of Prime No.

In [29]:
L.clear()
print(L)

[]

In [69]:
A = [1,2]
del(A)

In [67]:
sum = 0
for i in range(10, 20):
    if i % 2 == 0:
        sum += i
print(sum)

70

In [68]:
def isprime(n):
    if n <= 1:
        return False
    for i in range(2, (n // 2) + 1):
        if n % i == 0:
            return False
    return True

sum_of_primes = 0
for i in range(10, 20):
    if isprime(i):
        sum_of_primes += i

print(sum_of_primes)

60